<div class="menu col-md-3" id="menu">
	<a class="item">
		<span class="glyphicon glyphicon-envelope"></span>
		<span>Messages</span>
	</a>
	<a class="item" href="{% url 'profile' %}">
		<span class="glyphicon glyphicon-user"></span>
		<span>Mon profil</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-briefcase"></span>
		<span>Les entreprises en financement</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-blackboard"></span>
		<span>Mon projet</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-time"></span>
		<span>Projets à venir</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-paperclip"></span>
		<span>Documents des projets</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-file"></span>
		<span>Contrat à signer</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-euro"></span>
		<span>Gestion des investisseurs</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-stats"></span>
		<span>Gestion des investissements</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-piggy-bank"></span>
		<span>Mes investissements</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-search"></span>
		<span>Les suivis</span>
	</a>
	<a class="item">
		<span class="glyphicon glyphicon-bookmark"></span>
		<span>Mon carnet d'adresse</span>
	</a>
</div>